* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@import "./assets/LoginComponents/Wellcome";
@import "./assets/LoginComponents/Login";
@import "./assets/LoginComponents/Register";
@import "./assets/LoginComponents/ForgotPasswordEmail";
@import "./assets/LoginComponents/RegisterPartner";
@import "./assets/LoginComponents/ForgotCodePassword";
@import "./assets/MapComponents/MapStart";
@import "./assets/MapComponents/ViewMoreCard";
@import "./assets/MapComponents/ReservedCharger";
@import "./assets/MapComponents/SuccessfulDestination";
